body {
	color: #ffffff;
  background-color: #000000;
}

div {
	display: block;
	width: 1078px;
	height: 100px;
}
main{
	height: auto;
	overflow: hidden;
}
#col-left {
	background-color: #006acc;
	width: 200px;
	height: 200px;
	float: left;
}
#col-center{
	background-color: #FFF000;
	height: auto;
}
footer{
	background-color: blue;
	clear:both;
}
